beautifulsoup4==4.6.3
chart-studio==1.1.0
django-googlesearch==0.2
dill>=0.3.3
Django==3.1.6
en-core-web-sm==2.2.5
Flask==1.1.2
googlesearch-python==2020.0.2
Jinja2==2.11.3
lemminflect==0.2.1
matplotlib==3.2.2
matplotlib-venn==0.11.6
numba==0.51.2
numpy==1.19.5
openai==0.3.0
pandas==1.1.5
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
plotly==4.4.1
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scikit-build==0.11.1
scipy==1.4.1
seaborn==0.11.1
sentence-transformers==0.4.1.2
sentencepiece==0.1.95
sklearn==0.0
sklearn-pandas==1.8.0
spacy==2.3.0
torch==1.7.0+cu101
torchsummary==1.5.1
torchtext==0.3.1
torchvision==0.8.1+cu101
transformers==4.3.2
Werkzeug==1.0.1
