<!DOCTYPE html>
<html lang="en">
<head>
        <title>Rememberly</title>
</head>
<body>
        <h1 style="text-align:center">Rememberly</h1>

        <h2 style="text-align:center">What is Rememberly?</h2>
        <P style="text-align:center"> Blurb about our product. We will write a whole paragraph of nonsense here. It'll be great!

        <h2 style="text-align:center">Text to Analyze</h2>
        <P style="text-align:center"> {{ inputText }}
	<br>
	<br>

	<iframe src="https://www.youtube.com/embed/YQHsXMglC9A" width="500" height="500" frameborder="0"></iframe>
</body>
</html>