<!DOCTYPE html>
<html lang="en">
<head>
        <title>Rememberly</title>
</head>
<body>
        <h1 style="text-align:center">Rememberly</h1>

        <h2 style="text-align:center">What is Rememberly?</h2>
        <P style="text-align:center"> Blurb about our product. We will write a whole paragraph of nonsense here. It'll be great!

        <h2 style="text-align:center">Text to Analyze</h2>
        <form action="/" method="POST">
                <p style="text-align:center">
                <textarea name="inputText" rows="10" cols="100">Your text here</textarea></br>
                <input type=submit value=Submit></br>
                </p>
        </form>
</body>
</html>